# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# A long list of executables
bin/*
bnn-hep/bnn-hep
convenience/eventIndexToID
mc/mc-ais
mc/mc-reweight
mc/mc-spec
mc/mc-temp-filter
mc/mc-temp-sched
net/net-approx
net/net-display
net/net-dvar
net/net-eval
net/net-gd
net/net-gen
net/net-genp
net/net-grad-test
net/net-his
net/net-hist
net/net-mc
net/net-plt
net/net-pred
net/net-rej
net/net-spec
net/net-stepsizes
net/net-tbl
util/calc
util/case-indicators
util/combine
util/data-spec
util/extract
util/find-min
util/grid
util/log-append
util/log-copy
util/log-equal
util/log-last
util/log-records
util/model-spec
util/rand-seed
util/series

# Symlink created by makefiles
net/CTRandom.h
net/CTRandom.cxx
util/CTRandom.h
util/CTRandom.cxx
